.mainbodycenterconatiner
{
    clear:both;
    margin:0 auto;
    width:100%;
    margin-top:30px;
}
.adminsinglerowcontainer
{
    clear:both;
    margin: 0 auto;
    width:500px;
    margin-left:300px;
    padding-top:10px;
}
.adminleft
{
    float:left;
    width:140px;
    margin-left:100px;
    text-align:left;
    font-size:14px;
    padding-top:3px;
}
.adminright
{
    float:left;
    width:200px;
}
/************* Theme Style **********************************/
.adminmaincontainer
{
    float:left;
    width:100%;
    min-height:450px;
}
.gridbutton
{    
    font-family:Calibri;
    font-size: 13px;
    height: 25px;        
    border: 1px solid #6593a3;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    background-color:#024d94;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px #005f87;
    cursor: pointer;       
    margin:0 0 0 0;
}


