<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    
    <!--<add key="SqlServer" value="mssql.4mimpex.co.in"/>
  <add key="UserID" value="FourMimpexERPDB"/>
  <add key="Password" value="SQL2008#"/>
  <add key="DataBase" value="FourMimpexERPDB-V1"/>-->

    <add key="SqlServer" value="CS-PC\SQLServer2008r2"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="sqlserver"/>
    <add key="DataBase" value="FourMImpex"/>
    
    
    <add key="SqlCommandTime" value="300" />

    <add key ="XLSConnectionStringPart1" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source="/>
    <add key ="XLSConnectionStringPart2" value=";Extended Properties=Excel 12.0;Persist Security Info=False"/>
    <add key ="XLSXConnectionStringPart1" value=""/>
    <add key ="XLSXConnectionStringPart2" value=""/>
    <add key="DocumentsPath" value=""/>
      </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages theme="Skin" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="ajx" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
          <add tagName="Banner" tagPrefix="UC" src="~/UC/Banner.ascx"/>
          <add tagName="Footer" tagPrefix="UC" src="~/UC/Footer.ascx"/>
          <add tagName="PageMessage" tagPrefix="UC" src="~/UC/PageMessage.ascx"/>
          <add tagName="PageMessageLatest" tagPrefix="UC" src="~/UC/PageMessageLatest.ascx"/>
        </controls>

      </pages>
      <identity impersonate="true"/>
      <authentication mode="Windows"></authentication>
      
    </system.web>

</configuration>
