
.AdvanceSearch
{
    width:310px;
    height:45px;
    float :left;
    margin-left:105px;
    margin-top:58px;
    background:url('../Images/SearchBgImage.png') no-repeat;
}
.txtAdvanceSearch
{
    width:234px;
    height:45px;
    border: 0 none ;
    border-color:White;
    border-width:0px;
    margin-top:6px;
    color:Gray;
}

.txtAdvanceSearch:focus
{
    color:Black;
    border-color:White;
    border-style:none;
}
.DivTxtSearch
{
   height: 45px;
   width: 234px;
   margin-left: 11px;
   margin-top: 0px;
   float:left;
}
.imgbtnAdvanceSearch
{
   
}
